# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
.venv/
venv/
env/

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# React
build/
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Logs
*.log

# Python cache
.pytest_cache/